<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699417011577-ae4d6ulcd4heeaa70vqm8m5ufi20omb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699417011577-ae4d6ulcd4heeaa70vqm8m5ufi20omb4</string>
	<key>API_KEY</key>
	<string>AIzaSyAJYF85OiCfnBZwr4wvFS-2xO_K24ix6F0</string>
	<key>GCM_SENDER_ID</key>
	<string>699417011577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BCIT.mochi</string>
	<key>PROJECT_ID</key>
	<string>mochi-c4c75</string>
	<key>STORAGE_BUCKET</key>
	<string>mochi-c4c75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699417011577:ios:f0145b845e35ae4222bba8</string>
</dict>
</plist>